.books,.mycart,.Profile {
  color: white
}
.card {
  padding: 1em;
  margin: auto
}

.user-profile ,.user-name{
  color: black;
  text-align: center;
}

.img-thumbnail,.user-name {
  margin-top: 2em;
  
}
.welcome {
  text-align: center;
}
.form{
  text-align: center;
  width: 450px;
  margin: auto;
}
.book-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-row-gap: 50px;
}
.header{
  margin-bottom: 10px;
}
.book-header{
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
}
